version: 2
jobs:
  build_and_test:
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:2.2
    steps:
      - checkout
      - run: dotnet restore
      - run: dotnet build
      - run: dotnet test

workflows:
  version: 2
  build_and_test:
    jobs:
      - build_and_test